
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   
}

body,html{
    height: 100%;
}
.whole{
    height: 100%;
    display: flex;
}
.sidebar{
    background-color: #a4c098;
   
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 3;
    
}
.image{
    height: 150px;
    width: 150px;
    background-image: url("download.jpg");
    background-size: cover;
    border-radius: 50%;
    
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    align-items: center;
   
    font-family:Arial, Helvetica, sans-serif;
    
}
.navbar > button{
    padding: 10px;
}
button{
   background-color: #a4c098;
    border: none;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    font-size: 15px;
    font-weight: 600;
    
}
.name{
    
    font-size: 40px;
}
.role{
    font-size: 20px;
    font-weight: 900;
}
.names{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-style: oblique;
}
button:hover{
    scale: 1.3;
    
}
.content{
    flex: 7 ;
    /* background-color: ; */
    line-height : 40px;
    animation-name: anim;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    transition: linear;
}
.home,.skills,.edu,.contact{
    font-size: larger;
    
    height: 100%;
    margin-left: 5%;

    margin-right: 5%;
    display: flex;
    justify-content: space-around;

    align-items: center;
}
.home-b,.skills-b,.edu-b,.contact-b{
    border-radius: 20px;
}
/* button:active{
    text-decoration: underline;
} */

.home > p{
    
    font-size: larger;
    font-style: oblique;
}
@keyframes anim {

    0%{
        .home {
            display: flex;
        }
        .skills{
            display: none;
        }
        .edu{
            display: none;
        }
        .contact{
            display: none;
        }
        
    }
    
    25%{
        .home{
            display: none;
        }
        .skills{
            display: flex;
        }
        .edu{
            display: none;
        }
        .contact{
            display: none;
        }
        
    }
    
    50%{
        .home {
            display: none;
        }
        .skills{
            display: none;
        }
        .edu{
            display: flex;
        }
        .contact{
            display: none;
        }
        
    }
    
    75%{
        .home{
            display: none;
        }
        .skills{
            display: none;
        }
        .edu{
            display: none;
        }
        .contact{
            display: flex;
        }
        
    }
    100%{
        .home{
            display: flex;
        }
        .skills{
            display: none;
        }
        .edu{
            display: none;
        }
        .contact{
            display: none;
        }
        
    }

    
}

    